<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madoor.resource_toolkit.mapper.ResourceMapper">
    <select id="getTypeByName" resultType="integer">
        select type_id from t_resource_type where resource_type = #{name}
    </select>
    <insert id="insert" parameterType="com.madoor.resource_toolkit.pojo.Resource" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_resource_v2 (resource_name, download, browse, updateTime, resource_type, period, `subject`,
                                file_type, is_featured)
        VALUES (#{resourceName},
                0,
                0,
                #{updateTime},
                #{resourceType},
                #{period},
                #{subject},
                #{fileType},
                #{isFeatured}
            )
    </insert>
    <select id="getResourceFileInfo" resultType="com.madoor.resource_toolkit.dto.ResourceFileInfo">
        SELECT
            r.id,
            d.url,
            rt.resource_type as resourceType,
            s.subject_name as subjectName,
            p.period_name as periodName
        FROM
            t_resource r
                JOIN t_document d ON r.tableResourceID = d.id
                JOIN t_resource_type rt ON r.resource_type = rt.type_id
                JOIN t_subject s ON r.`subject` = s.subject_id
                JOIN t_period p ON r.period = p.period_id
        WHERE
            r.id = #{id}
    </select>
</mapper>